# Uncomment to run in the background. Note that in daemonized mode, all filenames
# are relative to an undefined directory, so you should use absolute paths for
# error_log, stats_file, etc.

#daemonize

# For low-traffic servers (less than a gigabit or two), num_servers 1 is fine.
# For best performance in high-traffic situations, you want one for each CPU.
num_servers 4

#
# All input ports are treated exactly the same, but you may use multiple ones nevertheless.
#
port 80

stats_file /var/lib/cubemap/cubemap.stats
stats_interval 60

input_stats_file /var/lib/cubemap/cubemap-input.stats
input_stats_interval 60

# Logging of clients as they disconnect (and as such as no longer visible in the stats file).
# You can only have zero or one of these.
access_log /var/log/cubemap/access.log

# Logging of various informational and error messages. You can have as many of these as you want.
error_log type=file filename=/var/log/cubemap/cubemap.log
error_log type=syslog
error_log type=console

stream /event.ts src=http://rocky.tg14.gathering.org:5004/event.ts pacing_rate_kbit=11000 backlog_size=10485760
stream /event-sd.ts src=http://ralph.tg14.gathering.org:5006/event-sd.ts pacing_rate_kbit=4000 backlog_size=10485760
stream /roofcam.ts src=http://magenta.tg14.gathering.org/roofcam.ts.metacube pacing_rate_kbit=16000 backlog_size=10485760
stream /southcam.ts src=http://magenta.tg14.gathering.org/southcam.ts.metacube pacing_rate_kbit=16000 backlog_size=10485760
stream /noccam.ts src=http://magenta.tg14.gathering.org/noccam.ts.metacube pacing_rate_kbit=16000 backlog_size=10485760
stream /event.flv src=http://ralph.tg14.gathering.org:5004/event.flv pacing_rate_kbit=4000 backlog_size=10485760
stream /southcam.flv src=http://ugh.tg14.gathering.org:5005/southcam.flv pacing_rate_kbit=4000 backlog_size=10485760
stream /event-superlow.ts src=http://ugh.tg14.gathering.org:5006/event-superlow.ts pacing_rate_kbit=1000 backlog_size=10485760
stream /event-superlow.flv src=http://ugh.tg14.gathering.org:5006/event-superlow.flv pacing_rate_kbit=1000 backlog_size=10485760


# Creativia
stream /creativia-lounge.ts src=http://151.216.183.69:5004/creativia-lounge.ts pacing_rate_kbit=11000 backlog_size=10485760

# Metacube-strømmer for cams (unike for denne reflektoren)
stream /roofcam.ts.metacube src=http://127.0.0.1:5001/roofcam.ts pacing_rate_kbit=16000 backlog_size=10485760 encoding=metacube
stream /southcam.ts.metacube src=http://127.0.0.1:5002/southcam.ts pacing_rate_kbit=16000 backlog_size=10485760 encoding=metacube
stream /noccam.ts.metacube src=http://127.0.0.1:5003/noccam.ts pacing_rate_kbit=16000 backlog_size=10485760 encoding=metacube
~                                                                                                                              
