body {
	background: #4A525A;
	background-attachment: fixed;
}

h1{
	text-align: center;
	color: #ccc;
	text-decoration: none;
	font-weight:normal;
}

h2{
	text-align: center;
	color: #ccc;
	text-decoration: none;
	font-weight:normal;
}

p{
        text-align: center;
        color: #ccc;
        text-decoration: none;
        font-weight:normal;
}

#menu {
	background: #333;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 20em;
	margin-left: auto; margin-right: auto;
}
#menu li {
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#menu a {
	background: #333;
	border-bottom: 1px solid #393939;
	color: #ccc;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	font-weight:normal;
}
#menu a:hover {
	background: #2580a2 left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}
