ZONE=tg26.tg.no
DOMAIN_NAME=tg26.tg.no
DOMAIN_SEARCH=tg26.tg.no
NAMESERVERS=ns1.tg26.tg.no.
NETBOX_URL=<removed>
NETBOX_API_KEY=<removed>
PDNS_API_URL=http://127.0.0.1:8081/api/v1
PDNS_API_KEY=<removed>
KEA_DDNS_KEY_NAME=dhcpns
KEA_DDNS_FILE=ddns
KEA_DHCP4_FILE=/etc/kea/kea-dhcp4.conf
KEA_DHCP6_FILE=/etc/kea/kea-dhcp6.conf
KEA_DDNS_ALGORITHM=HMAC-SHA256
KEA_DDNS_SECRET=<removed>
DHCP_LEASE_DB_PASSWORD=<removed>
DOMAIN_NAME_SERVERS_V4=185.110.148.226,185.110.148.230
DOMAIN_NAME_SERVERS_V6=2a06:5841:f:300::226,2a06:5841:f:300::230
#FAP_V4=185.110.149.3
FAP_V4=185.110.148.236
FAP_V6=2a06:5841:f::3
VOIP_V4=185.80.182.106
NETBOOT_V4=185.110.148.227
NETBOOT_V6=2a06:5841:f:300::2
DHCP_INTERFACE_V4=185.110.148.231
DHCP_INTERFACE_V6=2a06:5841:f:300::231
