planning/planning

# OS-crap
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
*.swp
*.swo
.vimrc
**/*~
**/*.bak
**/*.sw[abcdefghijklmnop]

# IDE-stuff
.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr
.env

# Python crap
__pycache__