# /var/lib/tftpboot/menus/debian.cfg
MENU INCLUDE menus/common.cfg
MENU TITLE Arch Linux Live

LABEL mainmenu
        MENU LABEL ^R Return to Main Menu
        COM32 vesamenu.c32
        APPEND ~

MENU SEPARATOR

LABEL arch_live
        MENU LABEL ^1 Arch Linux Live (Netboot)
        KERNEL arch/boot/vmlinuz_x86_64
        APPEND initrd=arch/boot/initramfs_x86_64.img archisobasedir=arch rw root=/dev/nfs nfsroot=185.110.148.2:/var/lib/tftpboot/arch/arch ip=dhcp keymap=no

#APPEND boot=casper netboot=nfs nfsroot=151.216.253.3:/var/nfsroot/ubuntu/12.04.4/i386 initrd=ubuntu/12.04.4/i386/initrd.lz --


MENU SEPARATOR


TIMEOUT 900
