# /var/lib/tftpboot/menus/debian.cfg
MENU INCLUDE menus/common.cfg
MENU TITLE Debian Installers

LABEL mainmenu
        MENU LABEL ^R Return to Main Menu
        COM32 vesamenu.c32
        APPEND ~

MENU SEPARATOR

LABEL jessie_amd64_install
        MENU LABEL ^1 Debian Testing amd64 (Stretch) netinstall
        KERNEL debian/stretch/amd64/linux
        APPEND vga=normal initrd=debian/stretch/amd64/initrd.gz  --

LABEL jessie_i386_install
        MENU LABEL ^2 Debian Testing i386 (Stretch) netinstall
        KERNEL debian/stretch/i386/linux
        APPEND vga=normal initrd=debian/stretch/i386/initrd.gz  --
MENU SEPARATOR

LABEL wheezy_amd64_install
        MENU LABEL ^3 Debian Stable amd64 (Jessie) netinstall
        KERNEL debian/jessie/amd64/linux
        APPEND vga=normal initrd=debian/jessie/amd64/initrd.gz  --

LABEL wheezy_i386_install
        MENU LABEL ^4 Debian Stable i386 (Jessie) netinstall
        KERNEL debian/jessie/i386/linux
        APPEND vga=normal initrd=debian/jessie/i386/initrd.gz  --

LABEL wheezy_amd64_fw
        MENU LABEL ^5 Debian FW-added Stable amd64 (Jessie) netinstall
        KERNEL debian/jessie_fw/amd64/linux
        APPEND initrd=debian/jessie_fw/amd64/initrd.gz --

#APPEND boot=casper netboot=nfs nfsroot=151.216.253.3:/var/nfsroot/ubuntu/12.04.4/i386 initrd=ubuntu/12.04.4/i386/initrd.lz --


MENU SEPARATOR


TIMEOUT 900
