# /var/lib/tftpboot/menus/ubuntu.cfg
MENU INCLUDE menus/common.cfg
MENU TITLE Ubuntu Live boot

LABEL mainmenu
        MENU LABEL ^R Return to Main Menu
        COM32 vesamenu.c32
        APPEND ~

MENU SEPARATOR
LABEL ubuntulive_14_10_32
        MENU LABEL ^1 Ubuntu 14.10(LTS) 32bit LIVE boot
        KERNEL ubuntu/14.10/i386/casper/vmlinuz
        APPEND root=/dev/nfs boot=casper netboot=nfs nfsroot=185.110.148.2:/var/lib/tftpboot/ubuntu/14.10/i386/ initrd=ubuntu/14.10/i386/casper/initrd.lz --

LABEL ubuntulive_14_10_64
        MENU LABEL ^2 Ubuntu 14.10(LTS) 64bit LIVE boot
        KERNEL ubuntu/14.10/amd64/casper/vmlinuz.efi
        APPEND root=/dev/nfs boot=casper netboot=nfs nfsroot=185.110.148.2:/var/lib/tftpboot/ubuntu/14.10/amd64/ initrd=ubuntu/14.10/amd64/casper/initrd.lz --
MENU SEPARATOR

LABEL ubuntulive_15_10_32
        MENU LABEL ^3 Ubuntu 15.10 32bit LIVE boot
        KERNEL ubuntu/15.10/i386/casper/vmlinuz
        APPEND root=/dev/nfs boot=casper netboot=nfs nfsroot=185.110.148.2:/var/lib/tftpboot/ubuntu/15.10/i386/ initrd=ubuntu/15.10/i386/casper/initrd.lz --

LABEL ubuntulive_15_10_64
        MENU LABEL ^4 Ubuntu 15.10 64bit LIVE boot
        KERNEL ubuntu/15.10/amd64/casper/vmlinuz.efi
        APPEND root=/dev/nfs boot=casper netboot=nfs nfsroot=185.110.148.2:/var/lib/tftpboot/ubuntu/15.10/amd64/ initrd=ubuntu/15.10/amd64/casper/initrd.lz --
MENU SEPARATOR

#LABEL ubuntuserverlive32
#        MENU LABEL ^3 Ubuntu Server 14.10 32bit LIVE boot
#        KERNEL ubuntu/server/15.10/i386/install/vmlinuz
#        APPEND root=/dev/nfs boot=casper netboot=nfs nfsroot=185.110.148.2:/var/lib/tftpboot/ubuntu/server/14.10/i386/ initrd=ubuntu/server/14.10/i386/install/initrd.gz --

#LABEL ubuntuserverlive64
#        MENU LABEL ^4 Ubuntu Server 14.10 64bit LIVE boot
#        KERNEL ubuntu/server/14.10/amd64/install/vmlinuz
#        APPEND root=/dev/nfs boot=casper netboot=nfs nfsroot=185.110.148.2:/var/lib/tftpboot/ubuntu/server/14.10/amd64/ initrd=ubuntu/server/14.10/amd64/install/initrd.gz --

#LABEL xpangolin32live
#        MENU LABEL ^2 xubuntu 14.04.2 32bit LIVE boot
#        KERNEL ubuntu/12.04.4/i386/vmlinuz
#        APPEND boot=casper netboot=nfs nfsroot=151.216.253.3:/var/nfsroot/ubuntu/12.04.4/i386 initrd=ubuntu/12.04.4/i386/initrd.lz --

TIMEOUT 900
