<html>
<head>
	<title>The Gathering <TMPL_VAR NAME=TG_FULL> Streams</title>
	<link rel="stylesheet" type="text/css" href="pre-tg15/style.css" media="all">
	<script type="text/javascript" src="pre-tg15/jwplayer.js"></script> 
</head>
<body>
	<div id="innhold">
		<TMPL_UNLESS NAME=NOHEADER>
			<h1>The Gathering <TMPL_VAR NAME=TG_FULL> Streams</h1>
			<embed type="application/x-shockwave-flash" src="pre-tg15/player.swf"
				width="800" height="450" style="undefined" id="mplf" name="mplf" quality="high"
				allowfullscreen="true" allowscriptaccess="always" wmode="opaque"
				stretching="exactfit"
				flashvars="stretching=exactfit&amp;file=http://wat.gathering.org:9094/southcam.flv&amp;autostart=true"></embed>
			<p>&nbsp;</p>
		</TMPL_UNLESS>
		
		<TMPL_LOOP NAME="STREAMS">
			<div class="stream-link">
				<div class="stream-icon"><img src="img/icon_<TMPL_VAR NAME=QUALITY>.png" /> <img src="img/icon_<TMPL_VAR NAME=TYPE>.png" /> <TMPL_IF NAME=LOCATION><img src="img/icon_<TMPL_VAR NAME=LOCATION>.png"></TMPL_IF></div>
				<div class="stream-link-content">
					<a href="<TMPL_VAR NAME=TITLE_LINK>"><TMPL_VAR NAME=TITLE></a><br>
					Source: <TMPL_VAR NAME=SOURCE><br>
					Delivery: <TMPL_VAR NAME=delivery> <TMPL_IF NAME=IS_MULTICAST>(<a href='<TMPL_VAR NAME=UNICAST_LINK>'>problems? try unicast vlc link here</a>)</TMPL_IF>
					
				</div>
			</div>
		</TMPL_LOOP>
	</div>


	<p>Problems with the non game streams? The easiest way to get a hold of us is on IRC (EFNet); Either of ViD or DoXiD should be available if there's too much traffic on #tg to be heard.</p>
	<p><a target="_blank" href="http://stream.tg<TMPL_VAR NAME="TG">.gathering.org">http://stream.tg<TMPL_VAR NAME="TG">.gathering.org</a></p>

</body>
</html>


