<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>The Gathering <TMPL_VAR NAME=TG_FULL> Streams</title>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <link href="//vjs.zencdn.net/5.8/video-js.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
	<style>

body {
	margin: 0;
}

.video-js {
	padding-bottom: 55%; /* video dimensions - height/width */
	height: 100%;
	width: 100%;
}
	</style>
</head>
<body>
<div class="losvideos">
					<TMPL_UNLESS NAME=NOHEADER>
						<video id="stream" class="videoframe video-js vjs-default-skin" controls preload="auto" poster="/resources/images/loading.png" data-setup='{ "autoplay" : true }'>
							<TMPL_IF NAME=VIDEO_URL_MP4><source src="<TMPL_VAR NAME=VIDEO_URL_MP4>" id="videodata" type="video/mp4"></TMPL_IF>
							<source src="<TMPL_VAR NAME=VIDEO_URL_MAIN>" id="videodata" type="video/flv">
							<source src="<TMPL_VAR NAME=VIDEO_URL_FALLBACK>" id="videodata" type="application/x-mpegURL">
							<p class="vjs-no-js">
								To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
							</p>
						</video>
					</TMPL_UNLESS>
</div>
<script src="//vjs.zencdn.net/5.8/video.js"></script>
<script src="./resources/js/videojs-contrib-hls.js"></script>
<script>

var techOrder = ["html5", "flash"];
if (navigator.userAgent.match(/Trident|Edge/)) {
	techOrder = ["flash", "html5"];
}

var player = videojs('stream', {
  techOrder: techOrder
});
player.play();
</script>
</body>
</html>


