# Uncomment to run in the background. Note that in daemonized mode, all filenames
# are relative to an undefined directory, so you should use absolute paths for
# error_log, stats_file, etc.

#daemonize

# For low-traffic servers (less than a gigabit or two), num_servers 1 is fine.
# For best performance in high-traffic situations, you want one for each CPU.
num_servers 1

#
# All input ports are treated exactly the same, but you may use multiple ones nevertheless.
#
port 80
# listen 127.0.0.1:9095
# listen [::1]:9095

stats_file /var/lib/cubemap/cubemap.stats
stats_interval 60

input_stats_file /var/lib/cubemap/cubemap-input.stats
input_stats_interval 60

# Logging of clients as they disconnect (and as such as no longer visible in the stats file).
# You can only have zero or one of these.
access_log /var/log/cubemap/access.log

# Logging of various informational and error messages. You can have as many of these as you want.
error_log type=file filename=/var/log/cubemap/cubemap.log
error_log type=syslog
error_log type=console

#
# now the streams!
#
#stream /test.flv src=http://gruessi.zrh.sesse.net:4013/test.flv
#stream /test.flv.metacube src=http://gruessi.zrh.sesse.net:4013/test.flv encoding=metacube
#stream /udp.ts src=udp://@:1234 backlog_size=1048576
#stream /udp-multicast.ts src=udp://@233.252.0.2:1234 pacing_rate_kbit=2000
#stream /udp-multicast-ssmv6.ts src=udp://[2001:67c:29f4::32]@[ff3e::1000:0]:1234 pacing_rate_kbit=20000
#udpstream [2001:67c:29f4::50]:5000 src=http://pannekake.samfundet.no:9094/frikanalen.ts.metacube
#udpstream 193.35.52.50:5001 src=http://pannekake.samfundet.no:9094/frikanalen.ts.metacube
#udpstream 233.252.0.1:5002 src=http://pannekake.samfundet.no:9094/frikanalen.ts.metacube ttl=32 multicast_output_interface=eth1

# TG15
stream /southcam.ts src=http://marlene.tg15.gathering.org:5003/southcam.ts.metacube backlog_size=104857600
stream /southcam.flv src=http://marlene.tg15.gathering.org:5003/southcam.flv.metacube backlog_size=104857600
stream /noccam.ts src=http://marlene.tg15.gathering.org:5004/noccam.ts.metacube backlog_size=104857600
stream /noccam.flv src=http://marlene.tg15.gathering.org:5004/noccam.flv.metacube backlog_size=104857600
stream /event2.ts src=http://dave.tg15.gathering.org:5004/event.ts backlog_size=104857600
stream /event2.flv src=http://dave.tg15.gathering.org:5004/event.flv backlog_size=104857600
stream /creativia.ts src=http://lorraine.tg15.gathering.org:5004/creativia.ts backlog_size=104857600
stream /creativia.flv src=http://lorraine.tg15.gathering.org:5004/creativia.flv backlog_size=104857600
stream /game.ts src=http://linda.tg15.gathering.org:5004/game.ts backlog_size=104857600
stream /game.flv src=http://linda.tg15.gathering.org:5004/game.flv backlog_size=104857600
stream /event.ts src=http://george.tg15.gathering.org:5004/event.ts backlog_size=104857600
stream /event.flv src=http://george.tg15.gathering.org:5004/event.flv backlog_size=104857600
