# /var/lib/tftpboot/menus/ubuntu.cfg
MENU INCLUDE menus/common.cfg
MENU TITLE Ubuntu Live boot

LABEL mainmenu
        MENU LABEL ^R Return to Main Menu
        COM32 vesamenu.c32
        APPEND ~

MENU SEPARATOR

LABEL pangolin32live
        MENU LABEL ^1 Ubuntu 12.04.2 32bit LIVE boot
        KERNEL ubuntu/12.04.2/i386/live/vmlinuz
        APPEND boot=casper netboot=nfs nfsroot=151.216.125.3:/var/nfsroot/ubuntu/12.04.2/i386 quiet splash initrd=ubuntu/12.04.2/i386/live/initrd.lz --

LABEL pangolin64live
        MENU LABEL ^2 Ubuntu 12.04.2 64bit LIVE boot
        KERNEL ubuntu/12.04.2/amd64/live/vmlinuz.efi
        APPEND boot=casper netboot=nfs nfsroot=151.216.125.3:/var/nfsroot/ubuntu/12.04.2/amd64 quiet splash initrd=ubuntu/12.04.2/amd64/live/initrd.lz --

MENU SEPARATOR

LABEL xpangolin32live
        MENU LABEL ^3 xubuntu 12.04.2 32bit LIVE boot
        KERNEL xubuntu/12.04.2/i386/live/vmlinuz
        APPEND boot=casper netboot=nfs nfsroot=151.216.125.3:/var/nfsroot/xubuntu/12.04.2/i386 quiet splash initrd=xubuntu/12.04.2/i386/live/initrd.lz --

LABEL xpangolin64live
        MENU LABEL ^4 xubuntu 12.04.2 64bit LIVE boot
        KERNEL xubuntu/12.04.2/amd64/live/vmlinuz
        APPEND boot=casper netboot=nfs nfsroot=151.216.125.3:/var/nfsroot/xubuntu/12.04.2/amd64 quiet splash initrd=xubuntu/12.04.2/amd64/live/initrd.lz --

MENU SEPARATOR

LABEL quetzal64
        MENU LABEL ^5 Ubuntu 12.10 64bit Installer
        KERNEL ubuntu/12.10/amd64/linux
        APPEND boot=casper quiet splash initrd=ubuntu/12.10/amd64/initrd.gz --

LABEL quetzal32
        MENU LABEL ^6 Ubuntu 12.10 32bit Installer
        KERNEL ubuntu/12.10/i386/linux
        APPEND boot=casper quiet splash initrd=ubuntu/12.10/i386/initrd.gz --


TIMEOUT 900
