body {
  background-color: rgb(54, 54, 54);
  color: #FFFFFF;
}

*:fullscreen {
  position:fixed;
  top:0; 
  right:0; 
  bottom:0; 
  left:0;
  margin:0;
  box-sizing: border-box;
  width:100%;
  height:100%;
  object-fit: contain;
}

.button {
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.button-signup {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: #60b044;
  background: -webkit-linear-gradient(#8add6d, #8add6d 12px, #60b044);
  background: linear-gradient(#8add6d, #8add6d 12px, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 518px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 50px;
  color: #FFFFFF;
  background-color: #000000;
  /*background-image: url('http://git.hvornum.se/resources/images/tech-bg.jpg');*/
  /*text-shadow: 2px 2px #c2c2c2;*/
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-top: 150px;
}

/*.videoframe {*/
/*  left: 50%;*/
/*}*/

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.stream-item {
  text-align: left;
}

  .stream-icon {
    width: 51px;
    height: 52px;
    display: inline-block;
  }

  .stream-link-content {
    position: relative;
    text-align: left;
    display: inline-block;
    top: -2rem;
  }

#stream {
  width: 960px;
  min-width: 960px;
  height: 540px;
  min-height: 540px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

.vjs-poster {
  background-size: cover !important;
}

.footer {
  text-align: center;
  padding-top: 50px;
}

.bubble 
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #7F7F7F solid 2px;
  padding: 10px;
}

  .bubble:after 
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 12px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 130px;
  }

  .bubble:before 
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 17px 13px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -19px;
    left: 129px;
  }

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
    padding-bottom: 30px;
  }
  .content { text-align: left; }
  #floater {
    min-width: 300px;
    min-height: 190px;
    width: 300px;
    height: 190px;
  }
  #stream {
    min-width: 320px;
    min-height: 183px;
  }
    /*.videoframe {
      margin-left: -160px;
    }*/
    /*.videoframe:-webkit-full-screen { margin-left: 0px; }
    .videoframe:-moz-full-screen { margin-left: 0px; }*/
}

/* Bigger than 920 */
@media (min-width: 920px) {
  .section {
    padding: 5rem 0 5rem;
    padding-bottom: 30px;
  }
  .content { text-align: left; }
  #floater {
    min-width: 300px;
    min-height: 190px;
    width: 300px;
    height: 190px;
  }
  #stream {
    min-width: 500px;
    min-height: 280px;
  }
	/*
    .videoframe {
      margin-left: -490px;
    }
    .videoframe:-webkit-full-screen { margin-left: 0px; }
    .videoframe:-moz-full-screen { margin-left: 0px; }
*/
}

/* Bigger than 1200 */
@media (min-width: 1200px) {
  .section {
    padding: 1rem 0 1rem;
    padding-bottom: 30px;
  }
  .content { text-align: left; }
  #floater {
    min-width: 531px;
    min-height: 396px;
  }
  #stream {
    min-width: 700px;
    min-height: 393px;
  }
/*
    .videoframe {
      margin-left: -350px;
    }
    .videoframe:-webkit-full-screen { margin-left: 0px; }
    .videoframe:-moz-full-screen { margin-left: 0px; }
*/
}

/* Bigger than 1600 */
@media (min-width: 1600px) {
  .section {
    padding: 1rem 0 1rem;
    padding-bottom: 30px;
  }
  .content { text-align: left; }
  #floater {
    min-width: 531px;
    min-height: 396px;
  }
  #stream {
    width: 960px;
    min-width: 960px;
    height: 540px;
    min-height: 540px;
  }
/*
    .videoframe {
      margin-left: -480px;
    }
    .videoframe:-webkit-full-screen { margin-left: 0px; }
    .videoframe:-moz-full-screen { margin-left: 0px; }
*/
}
