# /var/lib/tftpboot/menus/debian.cfg
MENU INCLUDE menus/common.cfg
MENU TITLE Debian Installers

LABEL mainmenu
        MENU LABEL ^R Return to Main Menu
        COM32 vesamenu.c32
        APPEND ~

MENU SEPARATOR

LABEL wheezy_amd64_install
        MENU LABEL ^1 Debian Stable amd64 (Wheezy) netinstall
        KERNEL debian/wheezy/amd64/linux
        APPEND vga=normal initrd=debian/wheezy/amd64/initrd.gz  --

LABEL wheezy_i386_install
        MENU LABEL ^2 Debian Stable i386 (Wheezy) netinstall
        KERNEL debian/wheezy/i386/linux
        APPEND vga=normal initrd=debian/wheezy/i386/initrd.gz  --

LABEL wheezy_amd64_fw
        MENU LABEL ^3 Debian FW-added Stable amd64 (Wheezy) netinstall
        KERNEL debian/wheezy/amd64/linux
        APPEND vga=normal initrd=debian/wheezy/amd64/fwinitrd.gz  --

MENU SEPARATOR

LABEL jessie_amd64_install
        MENU LABEL ^4 Debian Testing amd64 (Jessie) netinstall
        KERNEL debian/jessie/amd64/linux
        APPEND vga=normal initrd=debian/jessie/amd64/initrd.gz  --

LABEL jessie_i386_install
        MENU LABEL ^5 Debian Testing i386 (Jessie) netinstall
        KERNEL debian/jessie/i386/linux
        APPEND vga=normal initrd=debian/jessie/i386/initrd.gz  --
MENU SEPARATOR

LABEL squeeze_amd64_install
        MENU LABEL ^6 Debian Oldstable amd64 (Squeeze) netinstall
        KERNEL debian/squeeze/amd64/linux
        APPEND vga=normal initrd=debian/squeeze/amd64/initrd.gz  --

LABEL squeeze_i386_install
        MENU LABEL ^7 Debian Oldstable i386 (Squeeze) netinstall
        KERNEL debian/squeeze/i386/linux
        APPEND vga=normal initrd=debian/squeeze/i386/initrd.gz  --


TIMEOUT 900
