body{
    background: #fff url('Statistikk_bakgrunn_alternate-02.png') top left no-repeat;
}

*{
    margin: 0;
    padding: 0;

}

div#container{
    width: 1920px;
    height: 1080px;
    min-width: 1920px;
    display: block;
}

div#data{
    padding-top: 100px;
}

a{
    color: #fff;
    padding: 10px;
    border-color: #fff;
    text-decoration: none;
    background-color: #fff;
    border-radius: 7px;
    width: auto;
}

a:hover{
    color: #333;
    border-color: #ddd;
    background-color: #e0e0e0;
}

h1{
    
}

h1#title{
    font-family: 'Droid Sans', sans-serif;
    font-size: 70px;
    padding-left: 505px;
    padding-top: 70px;
    color: #293f6c;
}

div#logs{
    font-size: 26px;
    font-family: 'Droid Sans', sans-serif;
}
