#! /usr/bin/perl
use strict;
use warnings;
use DBI;
package nms::config;

# DB
our $db_name = "nms";
our $db_host = "frank.tg14.gathering.org";
our $db_username = "nms";
our $db_password = "<removed>";

# DHCP-servers
our $dhcp_server1 = "151.216.254.2"; # primary
our $dhcp_server2 = "151.216.253.19"; # secondary

# TACACS-login for NMS
our $tacacs_user = "nms";
our $tacacs_pass = "<removed>";

# SNMP read-only for NMS, etc
our $snmp_community = "<removed>";

# Telnet-timeout for smanagrun
our $telnet_timeout = 30;

# IP/IPv6/DNS-info
our $tgname    = "tg14";
our $pri_hostname     = "brad";
our $pri_v4   = "151.216.254.2";
our $pri_v6    = "2a02:ed02:254::2";
our $pri_net   = "151.216.254.0/24"; # network that primary server is in

our $sec_hostname     = "janet";
our $sec_v4   = "151.216.253.2";
our $sec_v6    = "2a02:ed02:253::2";
our $sec_net   = "151.216.253.0/24"; # network that secondary server is in

# for RIPE to get reverse zones via DNS AXFR
# https://www.ripe.net/data-tools/dns/reverse-dns/how-to-set-up-reverse-delegation
our $ext_xfer  = "193.0.0.0/22; 2001:610:240::/48; 2001:67c:2e8::/48";

# allow XFR from NOC
our $noc_net  = "151.216.252.0/24; 2a02:ed02:252::/64";

# To generate new dnssec-key for ddns:
# dnssec-keygen -a HMAC-MD5 -b 128 -n HOST DHCP_UPDATER
our $ddns_key = "<removed>";
our $ddns_to  = "127.0.0.1"; # just use localhost

# Base networks
our $base_ipv4net = "151.216.128.0/17";
our $base_ipv6net = "2a02:ed02::/32";
our $ipv6zone = "2.0.d.e.2.0.a.2.ip6.arpa";

# extra networks that are outside the normal ranges
# that should have recursive DNS access
our $rec_net = "185.12.59.0/24";

# add WLC's
our $wlc1 = "151.216.253.21";

# Change from tg14: PXE-server is set to Secondary/SMTP/TFTP box,
# and the toolchain assumes this fact. Variable kept for clarity:
our $pxe_server = $sec_v4;

# Used by ipv6-stats, but never got updated for tg11-ip's. Commenting.
# The following is the list of routing netboxes (core, dist, tele, a.s.o)
our @distrobox_ips = (
	'151.216.255.1',  # telegw
	'151.216.255.2',  # nocgw
	'151.216.255.3',  # camgw
	'151.216.255.4',  # stageboh
	'151.216.255.5',  # wtfgw
	'151.216.255.6',  # logistikkgw
	'151.216.255.7',  # crewgw
	'151.216.255.8',  # gamegw
	'151.216.255.9',  # resepsjongw
	'151.216.255.10', # sponsorgw
	'151.216.255.11', # eldregw
	'151.216.255.17', # distro0
	'151.216.255.18', # distro1
	'151.216.255.19', # distro2
	'151.216.255.20', # distro3
	'151.216.255.21', # distro4
	'151.216.255.22', # slutgw
);

# Forwarding zones.
our @forwarding_zones = qw( );

1;
