## Last commit: 2015-04-01 19:44:02 CEST by technet
version 13.2X51-D26.2;
system {
    host-name rs1.core;
    time-zone Europe/Oslo;
    arp {
        aging-timer 5;
    }
    authentication-order password;
    root-authentication {
    }
    name-server {
        2a02:ed02:1ee7::66;
        2a02:ed02:1337::2;
    }
    login {
        user technet {
            uid 2000;
            class super-user;
            authentication {
            }
        }
        user tg {
            uid 3000;
            class super-user;
            authentication {
            }
        }
    }
    services {
        ssh;
        dhcp-local-server {
            traceoptions { 
                file dhcp.dbg;
                flag all;
            }
            dhcpv6 {
                group all {
                    interface ae1.0;
                    interface ae2.0;
                    interface ae3.0;
                }
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 185.12.59.18 {
            any notice;
            authorization info;
            port 515;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    commit synchronize;
    processes {
        app-engine-virtual-machine-management-service {
            traceoptions {
                level notice;
                flag all;
            }
        }
    }
    ntp {
        boot-server 2001:700:100:2::6;
        server 2001:700:100:2::6;
    }
}
chassis {
    redundancy {
        graceful-switchover;
    }
    aggregated-devices {
        ethernet {
            device-count 32;
        }
    }
}
interfaces {
    interface-range all-ports {
        member-range xe-0/0/0 to xe-0/0/47;
        member-range xe-1/0/0 to xe-1/0/47;
        member-range et-0/0/48 to et-0/0/53;
        member-range et-1/0/48 to et-1/0/53;
        description "-- Not in use --";
    }
    interface-range sflow {
        member-range xe-0/0/0 to xe-0/0/47;
        member-range et-0/0/48 to et-0/0/53;
        member-range xe-1/0/0 to xe-1/0/47;
        member-range et-1/0/48 to et-1/0/53;
    }
    xe-0/0/0 {
        description "rs1.distro0 xe-2/1/0";
        ether-options {
            802.3ad ae3;
        }
    }
    xe-0/0/1 {
        description "rs1.distro1 xe-2/1/0";
        ether-options {
            802.3ad ae4;
        }
    }
    xe-0/0/2 {
        description "rs1.distro2 xe-2/1/0";
        ether-options {
            802.3ad ae5;
        }
    }
    xe-0/0/3 {
        description "rs1.distro3 xe-2/1/0";
        ether-options {
            802.3ad ae6;
        }
    }
    xe-0/0/4 {
        description "rs1.distro4 xe-2/1/0";
        ether-options {
            802.3ad ae7;
        }
    }
    xe-0/0/5 {
        description "rs1.distro5 xe-2/1/0";
        ether-options {
            802.3ad ae8;
        }
    }
    xe-0/0/6 {
        description "rs1.distro6 xe-2/1/0";
        ether-options {
            802.3ad ae9;
        }
    }
    xe-0/0/7 {
        description "rs1.distro7 xe-2/1/0";
        ether-options {
            802.3ad ae10;
        }
    }
    xe-0/0/8 {
        description "rs1.crew xe-2/1/0";
        ether-options {
            802.3ad ae0;
        }
    }
    et-0/0/48 {
        description "rs1.noc et-0/1/0";
        ether-options {
            802.3ad ae2;
        }
    }
    et-0/0/49 {
        description "rs1.tele et-0/1/0";
        ether-options {
            802.3ad ae1;
        }
    }
    et-0/0/52 {
        description VC-port;
    }
    et-0/0/53 {
        description VC-port;
    }
    xe-1/0/0 {
        description "rs1.distro0 xe-0/1/0";
        ether-options {
            802.3ad ae3;
        }
    }
    xe-1/0/1 {
        description "rs1.distro1 xe-0/1/0";
        ether-options {
            802.3ad ae4;
        }
    }
    xe-1/0/2 {
        description "rs1.distro2 xe-0/1/0";
        ether-options {
            802.3ad ae5;
        }
    }
    xe-1/0/3 {
        description "rs1.distro3 xe-0/1/0";
        ether-options {
            802.3ad ae6;
        }
    }
    xe-1/0/4 {
        description "rs1.distro4 xe-0/1/0";
        ether-options {
            802.3ad ae7;
        }
    }
    xe-1/0/5 {
        description "rs1.distro5 xe-0/1/0";
        ether-options {
            802.3ad ae8;
        }
    }
    xe-1/0/6 {
        description "rs1.distro6 xe-0/1/0";
        ether-options {
            802.3ad ae9;
        }
    }
    xe-1/0/7 {
        description "rs1.distro7 xe-0/1/0";
        ether-options {
            802.3ad ae10;
        }
    }
    xe-1/0/8 {
        description "rs1.crew xe-0/1/0";
        ether-options {
            802.3ad ae0;
        }
    }
    et-1/0/48 {
        description "rs1.noc et-1/1/0";
        ether-options {
            802.3ad ae2;
        }
    }
    et-1/0/49 {
        description "rs1.tele et-1/1/0";
        ether-options {
            802.3ad ae1;
        }
    }
    et-1/0/52 {
        description VC-port;
    }
    et-1/0/53 {
        description VC-port;
    }
    ae0 {
        description "rs1.crew ae0";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.26/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::26/127;
            }
        }
    }
    ae1 {
        description "rs1.tele ae0";
        aggregated-ether-options {
            minimum-links 1;
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.1/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::1/127;
            }
        }
    }
    ae2 {
        description "rs1.noc ae0";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.4/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::4/127;
            }
        }
    }
    ae3 {
        description "rs1.distro0 ae31";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.42/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::42/127;
            }
        }
    }
    ae4 {
        description "rs1.distro1 ae31";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.38/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::38/127;
            }
        }
    }
    ae5 {
        description "rs1.distro2 ae31";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.40/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::40/127;
            }
        }
    }
    ae6 {
        description "rs1.distro3 ae31";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.36/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::36/127;
            }
        }
    }
    ae7 {
        description "rs1.distro4 ae31";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.32/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::32/127;
            }
        }
    }
    ae8 {
        description "rs1.distro5 ae31";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.34/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::34/127;
            }
        }
    }
    ae9 {
        description "rs1.distro6 ae31";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.30/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::30/127;
            }
        }
    }
    ae10 {
        description "rs1.distro7 ae31";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family inet {
                address 151.216.128.28/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::28/127;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input v4-mgmt;
                }
                address 151.216.255.10/32;
            }
            family inet6 {
                filter {
                    input v6-mgmt;
                }
                address 2a02:ed02:ffff::10/128;
            }
        }
    }
}
snmp {
    community <removed> {
        client-list-name mgmt;
    }
}
forwarding-options {
    storm-control-profiles default {
        all;
    }
}
routing-options {
    nonstop-routing;
    rib inet.0 {
        static {
            route 91.209.30.12/32 next-hop 192.168.160.1;
            route 192.168.0.0/16 {
                next-hop 192.168.160.1;
                no-readvertise;
            }
        }
    }
    router-id 192.168.160.128;
    autonomous-system 100;
}
protocols {
    ospf {
        export [ redistribute-direct redistribute-static ];
        reference-bandwidth 1000g;
        area 0.0.0.0 {
            interface ae1.0;
            interface ae2.0;
            interface ae3.0;
            interface ae10.0;
            interface ae9.0;
            interface ae7.0;
            interface ae8.0;
            interface ae6.0;
            interface ae4.0;
            interface ae5.0;
            interface ae0.0;
        }
    }
    ospf3 {
        reference-bandwidth 1000g;
        area 0.0.0.0 {
            interface ae1.0;
            interface ae2.0;
            interface ae3.0;
            interface ae10.0;
            interface ae9.0;
            interface ae7.0;
            interface ae8.0;
            interface ae6.0;
            interface ae4.0;
            interface ae5.0;
            interface ae0.0;
        }
    }
    ldp {
        interface lo0.0;
    }
    pim {
        rp {
            static {
                address 151.216.255.11;
                address 2a02:ed02:ffff::11;
            }
        }
        interface ae1.0 {
            family inet;
            family inet6;
        }
        interface ae2.0 {
            family inet;
            family inet6;
        }
        interface ae3.0 {
            family inet;
            family inet6;
        }
        interface ae10.0 {
            family inet;
            family inet6;
        }
        interface ae9.0 {
            family inet;
            family inet6;
        }
        interface ae7.0 {
            family inet;
            family inet6;
        }
        interface ae8.0 {
            family inet;
            family inet6;
        }
        interface ae6.0 {
            family inet;
            family inet6;
        }
        interface ae4.0 {
            family inet;
            family inet6;
        }
        interface ae5.0 {
            family inet;
            family inet6;
        }
    }
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
    igmp-snooping {
        vlan default;
    }
    sflow {
        agent-id 151.216.255.10;
        sample-rate {
            ingress 10000;
            egress 10000;
        }
        source-ip 151.216.255.10;
        collector <removed>;
        interfaces sflow;
    }
    layer2-control {
        nonstop-bridging;
    }
}
policy-options {
	prefix-list v4-mgmt {
	    /* NOC clients */
	    151.216.254.0/24;
	    /* Servers */
	    185.12.59.0/26;
	}
	prefix-list v6-mgmt {
	    /* NOC clients */
	    2a02:ed02:254::/64;
	    /* Servers */
	    2a02:ed02:1337::/64;
	}
	prefix-list mgmt {
	    /* NOC clients */
	    151.216.254.0/24;
	    /* Servers */
	    185.12.59.0/26;
	    /* NOC clients */
	    2a02:ed02:254::/64;
	    /* Servers */
	    2a02:ed02:1337::/64;
	}

    policy-statement redistribute-direct {
        from protocol direct;
        then {
            external {
                type 1;
            }
            accept;
        }
    }
    policy-statement redistribute-static {
        from protocol static;
        then {
            external {
                type 1;
            }
            accept;
        }
    }
}
firewall {
    family inet {
        filter v4-mgmt {
            term accept-ssh {
                from {
                    source-prefix-list {
                        v4-mgmt;
                    }
                    destination-port 22;
                }
                then {
                    count accept-ssh;
                    accept;
                }
            }
            term reject-ssh {
                from {
                    destination-port 22;
                }
                then {
                    count reject-ssh;
                    reject;
                }
            }
            term accept-all {
                then {
                    count accept-all;
                    accept;
                }
            }
            term discard-ssh {
                from {
                    destination-port 22;
                }
                then {
                    discard;
                }
            }
        }
    }
    family inet6 {
        filter v6-mgmt {
            term accept-ssh {
                from {
                    source-prefix-list {
                        v6-mgmt;
                    }
                    destination-port 22;
                }
                then {
                    count accept-ssh;
                    accept;
                }
            }
            term reject-ssh {
                from {
                    destination-port 22;
                }
                then {
                    count reject-ssh;
                    reject;
                }
            }
            term accept-all {
                then {
                    count accept-all;
                    accept;
                }
            }
            term discard-ssh {
                from {
                    destination-port 22;
                }
                then discard;
            }
        }
    }
}
access {
    address-assignment {
        pool v6-noc-clients {
            family inet6 {
                prefix 2a02:ed02:254::/64;
                range v6-noc-clients {
                    low 2a02:ed02:254::1337:1337:10/128;
                    high 2a02:ed02:254::1337:1337:ffff/128;
                }
                dhcp-attributes {
                    dns-server {
                        2a02:ed02:1ee7::66;
                        2a02:ed02:1337::2;
                    }
                }
            }
        }
    }
}
routing-instances {
    INTERNET {
        instance-type vrf;
        interface ge-0/0/46.0; ## 'ge-0/0/46.0' is not defined
        interface lo0.1; ## 'lo0.1' is not defined
        route-distinguisher 1:1;
        vrf-target target:1:1;
        vrf-table-label;
    }
}
virtual-chassis {
    preprovisioned;
    no-split-detection;
    member 0 {
        role routing-engine;
        serial-number <removed>;
    }
    member 1 {
        role routing-engine;
        serial-number <removed>;
    }
}
vlans {
    default {
        vlan-id 1;
    }
}
