## Last commit: 2015-04-04 14:12:00 CEST by root
version 14.1X53-D15.2;
system {
    host-name rs1.log;
    auto-snapshot;
    time-zone Europe/Oslo;
    authentication-order [ tacplus password ];
    root-authentication {
    }
    name-server {
        2a02:ed02:1ee7::66;
        2a02:ed02:1337::2;
    }
    login {
        user technet {
            uid 2000;
            class super-user;
            authentication {
            }
        }
    }
    services {
        ssh;
        inactive: dhcp-local-server {
            traceoptions {
                file log-dhcp;
                flag all;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 185.12.59.18 {
            any info;
            authorization info;
            port 515;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    commit synchronize;
    ntp {
        server 2001:700:100:2::6;
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 32;
        }
    }
}
interfaces {
    interface-range sflow {
        member-range ge-0/0/0 to ge-0/0/47;
        member-range xe-0/1/0 to xe-0/1/3;
    }
    interface-range Clients {
        member-range ge-0/0/2 to ge-0/0/47;
        unit 0 {
            family ethernet-switching {
                port-mode access;
                vlan {
                    members clients;
                }
            }
        }
    }
    ge-0/0/0 {
        description sw1.log;
        inactive: ether-options {
            802.3ad ae0;
        }
        unit 0 {
            family ethernet-switching {
                port-mode access;
                vlan {
                    members mgmt;
                }
            }
        }
    }
    ge-0/0/1 {
        description sw1.log;
        ether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/10 {
        unit 0 {
            family ethernet-switching;
        }
    }
    xe-0/1/0 {
        description "rs1.south xe-0/1/1";
        unit 0 {
            family inet {
                address 151.216.128.13/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::13/127;
            }
        }
    }
    xe-0/1/1 {
        description "rs1.gamehq xe-0/1/0";
        unit 0 {
            family inet {
                address 151.216.128.14/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::14/127;
            }
        }
    }
    xe-0/1/2 {
        description "rs1.backstage xe-0/1/0";
        unit 0 {
            family inet {
                address 151.216.128.20/31;
            }
            family inet6 {
                address 2a02:ed02:fffe::20/127;
            }
        }
    }
    ae0 {
        description "sw1.log ae0";
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                port-mode trunk;
                vlan {
                    members [ mgmt clients ];
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input v4-mgmt;
                }
                address 151.216.255.13/32;
            }
            family inet6 {
                filter {
                    input v6-mgmt;
                }
                address 2a02:ed02:ffff::13/128;
            }
        }
    }
    vlan {
        unit 183 {
            description TEST;
            family inet {
                address 151.216.183.129/27;
            }
            family inet6 {
                address 2a02:ed02:1834::1/64;
                address 2a02:ed02:1834::129/64;
            }
        }
        unit 224 {
            family inet {
                address 151.216.224.1/24;
            }
            family inet6 {
                address 2a02:ed02:224::1/64;
            }
        }
    }
}
snmp {
    community <removed> {
        client-list-name mgmt;
    }
}
forwarding-options {
    helpers {
        bootp {
            source-address-giaddr;
            interface {
                vlan.183 {
                    server 185.12.59.11;
                    dhcp-option82 {
                        circuit-id {
                            prefix hostname;
                        }
                    }
                }
                vlan.224 {
                    server 185.12.59.66;
                    server 185.12.59.2;
                }
            }
        }
    }
    inactive: dhcp-relay {
        dhcpv6 {
            group all {
                interface vlan.65;
            }
            server-group {
                v6-dhcp {
                    2a02:ed02:1ee7::66;
                }
            }
            active-server-group v6-dhcp;
        }
        server-group {
            v4-dhcp {
                185.12.59.66;
                185.12.59.2;
            }
            inactive: v4-fap {
                185.12.59.11;
            }
        }
        group all {
            active-server-group v4-dhcp;
            overrides {
                trust-option-82;
            }
            interface vlan.65;
            interface vlan.224;
        }
        inactive: group v4-fap {
            active-server-group v4-fap;
            relay-option-82 {
                circuit-id {
                    no-vlan-interface-name;
                    include-irb-and-l2;
                }
            }
            interface ge-0/0/0.0;
            interface ae0.0;
            interface vlan.183;
        }
    }
}
event-options {
    policy ae0down {
        events snmp_trap_link_down;
        attributes-match {
            snmp_trap_link_down.interface-name matches "ae0$";
        }
        then {
            change-configuration {
                retry count 5 interval 4;
                commands {
                    "activate interfaces ge-0/0/0 unit 0";
                    "deactivate interfaces ge-0/0/0 ether-options";
                }
                user-name technet;
                commit-options {
                    log "Autoconfig-script: ae0 went down so removed ge-0/0/0 from bundle";
                }
            }
        }
    }
    policy ae0up {
        events snmp_trap_link_up;
        attributes-match {
            snmp_trap_link_up.interface-name matches "ae0$";
        }
        then {
            change-configuration {
                retry count 5 interval 4;
                commands {
                    "deactivate interfaces ge-0/0/0 unit 0";
                    "activate interfaces ge-0/0/0 ether-options";
                }
                user-name technet;
                commit-options {
                    log "Autoconfig-script: ae0 came up so added ge-0/0/0 to bundle";
                }
            }
        }
    }
}
protocols {
    
    
    
    igmp {
        interface vlan.65 {
            group-policy v4-multicast;
        }
    }
    
    
    
    mld {
        interface vlan.65 {
            group-policy v6-multicast;
        }
    }
    router-advertisement {
        interface vlan.65 {
            max-advertisement-interval 30;
            managed-configuration;
        }
    }
    
    
    
    ospf {
        export [ redistribute-direct redistribute-static ];
        reference-bandwidth 1000g;
        area 0.0.0.0 {
            interface xe-0/1/0.0;
            interface xe-0/1/1.0;
            interface xe-0/1/2.0;
        }
    }
    
    
    
    ospf3 {
        export [ redistribute-direct redistribute-static ];
        reference-bandwidth 1000g;
        area 0.0.0.0 {
            interface xe-0/1/0.0;
            interface xe-0/1/1.0;
            interface xe-0/1/2.0;
        }
    }
    pim {
        rp {
            static {
                address 2a02:ed02:ffff::11;
                address 151.216.255.11;
            }
        }
        interface xe-0/1/0.0 {
            family inet;
            family inet6;
        }
        interface xe-0/1/1.0 {
            family inet;
            family inet6;
        }
        interface xe-0/1/2.0 {
            family inet;
            family inet6;
        }
    }
    sflow {
        agent-id 151.216.255.13;
        polling-interval 3600;
        sample-rate {
            ingress 10000;
            egress 10000;
        }
        source-ip 151.216.255.13;
        collector <removed>;
        interfaces sflow;
    }
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
    lldp-med {
        interface all;
    }
}
policy-options {
	prefix-list v4-mgmt {
	    /* NOC clients */
	    151.216.254.0/24;
	    /* Servers */
	    185.12.59.0/26;
	}
	prefix-list v6-mgmt {
	    /* NOC clients */
	    2a02:ed02:254::/64;
	    /* Servers */
	    2a02:ed02:1337::/64;
	}
	prefix-list mgmt {
	    /* NOC clients */
	    151.216.254.0/24;
	    /* Servers */
	    185.12.59.0/26;
	    /* NOC clients */
	    2a02:ed02:254::/64;
	    /* Servers */
	    2a02:ed02:1337::/64;
	}

    policy-statement redistribute-direct {
        from protocol direct;
        then {
            external {
                type 1;
            }
            accept;
        }
    }
    policy-statement redistribute-static {
        from protocol static;
        then {
            external {
                type 1;
            }
            accept;
        }
    }
    policy-statement v4-multicast {
        term accept-our {
            from {
                route-filter 233.139.58.0/24 orlonger;
                source-address-filter 185.12.59.0/26 orlonger;
                source-address-filter 151.216.254.0/24 orlonger;
            }
            then accept;
        }
        term reject-all {
            then reject;
        }
    }
    policy-statement v6-multicast {
        term accept-our {
            from {
                route-filter ff35:2001:67c:2e44::/120 orlonger;
                source-address-filter 2a02:ed02:1337::/64 orlonger;
                source-address-filter 2a02:ed02:252::/64 orlonger;
            }
        }
        term reject-all {
            then reject;
        }
    }
}
firewall {
    family inet {
        filter v4-mgmt {
            term accept-ssh {
                from {
                    source-prefix-list {
                        v4-mgmt;
                    }
                    destination-port 22;
                }
                then accept;
            }
            term discard-ssh {
                from {
                    destination-port 22;
                }
                then {
                    discard;
                }
            }
            term accept-all {
                then accept;
            }
        }
    }
    family inet6 {
        filter v6-mgmt {
            term accept-ssh {
                from {
                    source-prefix-list {
                        v6-mgmt;
                    }
                    destination-port 22;
                }
                then accept;
            }
            term discard-ssh {
                from {
                    destination-port 22;
                }
                then discard;
            }
            term accept-all {
                then accept;
            }
        }
    }
}
vlans {
    clients {
        description "Log Clients";
        vlan-id 224;
        interface {
            Clients;
        }
        l3-interface vlan.224;
    }
    mgmt {
        description MGMT;
        vlan-id 183;
        l3-interface vlan.183;
    }
}
poe {
    interface all;
}
